@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    background: linear-gradient(236.85deg, #041832, #3468a7);
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background: #ecf4ff;
    margin: 10px auto;
    box-shadow: 6px 6px 6px #0e1d2f;
    border-radius: 20px;
    color: #1c1c1c;
    padding: 24px;
    max-height: 500px;
    width: 500px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.perfil {
    display: flex;
}

.perfil-foto {
    border-radius: 50%;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s;
}

.perfil-foto:hover {
    transform: scale(1.1);
}

.titulo {
    margin-left: 10px;
    color: #234c61;
}

.titulo h1 {
    letter-spacing: 2.2px;
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}

.tema button {
    box-sizing: border-box;
    align-self: flex-end;
    font-size: 10px;
    font-weight: 400;
    padding: 8px 16px;
    margin-top: 12px;
    background-color: #ecf4ff;
    color: #0e1d2f;
    border-radius: 100px;
    margin-top: 30px;
}

.portfolio {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
  }

.projetos {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 10px;
    padding: 0 25px 25px;
    font-size: 17px;
    background-color: #234c61;
    border-radius: 20px;
    color: #ecf4ff;
    width: 300px;
    max-height: 200px;
}


.projetos ul {
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 25px;
}

aside {
    overflow-y: scroll;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ecf4ff;
    background-color: #234c61;
    margin-top: 7.5px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    max-height: 220px;
}

aside::-webkit-scrollbar {
    width: thin;
}

aside img{
    box-sizing: border-box;
    padding-bottom: 10px;
    max-width: 50px;
}

a:visited,
a:link {
    text-decoration: none;
    color: #ecf4ff;
}

a:hover {
    color: #1994d1;
}

h1,
h3 {
    padding-left: 10px;
}

footer {
    display: flex;
    justify-content: center;
}

.contacts h3 {
    color: #234c61;
}

.contacts img {
    width: 35px;
    transition: transform 0.3s;
}

footer img:hover {
    transform: scale(1.1);
}

.dark {
    background: linear-gradient(236.85deg, #5b5d66, #041832);
}

.dark .container {
    background: #333439;
}

.dark .titulo {
    color: #f7f7f7;
}

.dark a:visited,
a:link {
    text-decoration: none;
    color: #ecf4ff;
}

.dark a:hover {
    color: #1994d1;
}

.dark .tema button {
    background: #5b5d66;
    color: #f7f7f7;
    border: 2px solid #f7f7f7;
}

.dark .projetos {
    background: #5b5d66;
}

.dark .contacts h3 {
    color: #f7f7f7;
}

.dark aside{
    background: #5b5d66;

}